<ion-view cache-view="false">
  <ion-header-bar class="bar-balanced">
    <ion-title>My Medical Boxes</ion-title>
    <button class="button button-icon ion-plus" ng-click="openAddMedicalBoxModal()"></button>
  </ion-header-bar>

  <ion-content class="has-header" has-bouncing="false">
    <ion-list>
      <ion-item ng-repeat="medicalBox in medicalBoxes" ng-click="openMedicalBoxDetailModal($index)" on-hold="copyMedicalBox(medicalBox.id)">
        <h2>{{medicalBox.name}}</h2>
        <p>Alert at: {{medicalBox.alert_time}}, {{medicalBox.frequency}}</p>
        <ion-option-button class="button-positive" ng-click="openUpdateMedicalBoxModal($index)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteMedicalBox($index)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <script id="addMedicalBox.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-balanced">
        <button class="button button-icon ion-ios-arrow-back" ng-click="addMedicalBoxModal.hide()"></button>
        <h1 class="title">Add New Medical Box</h1>
      </ion-header-bar>
      <ion-content class="padding has-header">
        <label class="item item-input input-rounded-corner">
          <span class="input-label">Box Name</span>
          <input type="text" ng-model="medicalBoxForm.name">
        </label>

        <ionic-timepicker input-obj="timePickerObject">
          <label class="item item-input input-rounded-corner input-margin-top">
            <span class="input-label">Alert Time</span>
            <input type="text" ng-model="medicalBoxForm.alert_time">
          </label>
        </ionic-timepicker>

        <label class="item item-input item-select input-rounded-corner input-margin-top">
          <div class="input-label">
            Frequency
          </div>
          <select ng-model="medicalBoxForm.frequency">
            <option>Once</option>
            <option>Every Day</option>
          </select>
        </label>

      </ion-content>
      <ion-footer-bar class="bar-balanced item-input-inset">
        <button class="button button-block button-clear" ng-click="addMedicalBox()">Confirm</button>
      </ion-footer-bar>
    </ion-modal-view>
  </script>
  <script id="updateMedicalBox.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-balanced">
        <button class="button button-icon ion-ios-arrow-back" ng-click="updateMedicalBoxModal.hide()"></button>
        <h1 class="title">Edit Medical Box</h1>
      </ion-header-bar>
      <ion-content class="padding has-header">
        <label class="item item-input input-rounded-corner">
          <span class="input-label">Box Name</span>
          <input type="text" ng-model="selectedMedicalBox.name">
        </label>

        <ionic-timepicker input-obj="timePickerObject">
          <label class="item item-input input-rounded-corner input-margin-top">
            <span class="input-label">Alert Time</span>
            <input type="text" ng-model="selectedMedicalBox.alert_time">
          </label>
        </ionic-timepicker>

        <label class="item item-input item-select input-rounded-corner input-margin-top">
          <div class="input-label">
            Frequency
          </div>
          <select ng-model="selectedMedicalBox.frequency">
            <option>Once</option>
            <option>Every Day</option>
          </select>
        </label>

      </ion-content>
      <ion-footer-bar class="bar-balanced item-input-inset">
        <button class="button button-block button-clear" ng-click="updateMedicalBox()">Confirm</button>
      </ion-footer-bar>
    </ion-modal-view>
  </script>
  <script id="medicalBoxDetail.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-balanced">
        <button class="button button-icon ion-ios-arrow-back" ng-click="medicalBoxDetailModal.hide()"></button>
        <h1 class="title">{{selectedMedicalBox.name}}</h1>
        <button class="button button-icon ion-plus" ng-click="openAddDrugModal()"></button>
      </ion-header-bar>
      <ion-content class="padding has-header">
          <label class="item item-input input-rounded-corner">
            <span class="input-label">Alert Time</span>
            {{selectedMedicalBox.alert_time}}
          </label>

        <label class="item item-input input-rounded-corner input-margin-top">
          <div class="input-label">
            Frequency
          </div>
          {{selectedMedicalBox.frequency}}
        </label>

        <ion-list class="input-margin-top">
          <ion-item ng-class="selectedMedicalBox.drugs.length == 1 ? 'input-rounded-corner input-margin-top' : ($index == 0 ? 'input-rounded-corner-top input-margin-top' : ($index == selectedMedicalBox.drugs.length - 1 ? 'input-rounded-corner-bottom' : ''))"
                    ng-repeat="drug in selectedMedicalBox.drugs">
            <h2>{{drug.name}}</h2>
            <p>Amount: {{drug.amount}}</p>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-modal-view>
  </script>
  <script id="addDrug.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-balanced">
        <button class="button button-icon ion-ios-arrow-back" ng-click="addDrugModal.hide()"></button>
        <h1 class="title">Add Drug</h1>
      </ion-header-bar>
      <ion-content class="padding has-header">
        <label class="item item-input input-rounded-corner">
          <span class="input-label">Drug Name</span>
          <input type="text" ng-model="drugForm.name">
        </label>

        <label class="item item-input input-rounded-corner input-margin-top">
          <span class="input-label">Amount</span>
          <input type="number" ng-model="drugForm.amount">
        </label>

      </ion-content>
      <ion-footer-bar class="bar-balanced item-input-inset">
        <button class="button button-block button-clear" ng-click="addDrug()">Confirm</button>
      </ion-footer-bar>
    </ion-modal-view>
  </script>
</ion-view>
