<ion-view cache-view="false">

  <ion-content class="padding" has-bouncing="false">
    <div class="card app-title" style="padding-top: 35% !important;">
      <h1 class="balanced" style="font-size: 12vw; text-align: center;">
        Medical Box
      </h1>
    </div>

    <label class="item item-input input-rounded-corner">
      <input type="text" placeholder="Email" ng-model="signInForm.email">
    </label>
    <label class="item item-input input-rounded-corner input-margin-top">
      <input type="password" placeholder="Password" ng-model="signInForm.password">
    </label>
    <button class="button button-block button-balanced input-button" ng-click="signIn()">Sign In</button>
    <a class="button button-block button-balanced input-button" href="#/signUp">Sign Up</a>
  </ion-content>
</ion-view>
